<div class="container-md">
  <div class="row">
    <div class="col-6">
      <h1>Bienvenido {{userName}}</h1>
    </div>
    <div class="col-6">
      <form id="logout" action="/logout">
        <button
          type="submit"
          form="logout"
          class="btn btn-primary"
        >Logout</button>
      </form>
    </div>
  </div>
</div>
<div class="container-md">
  <div class="row">
    <div class="col-6">

      <h1>Ingreso Producto</h1>
      <form id="form-product" method="post" action="/api/productos/">
        <div class="mb-3">
          <label for="inputTitle" class="form-label">Product Title</label>
          <input
            type="text"
            class="form-control"
            id="inputTitle"
            name="title"
          />
        </div>
        <div class="mb-3">
          <label for="inputPrice" class="form-label">Price</label>
          <input
            type="text"
            class="form-control"
            id="inputPrice"
            name="price"
          />
        </div>
        <div class="mb-3">
          <label for="inputUrl" class="form-label">Image Url</label>
          <input
            type="text"
            class="form-control"
            id="inputUrl"
            name="thumbnail"
          />
        </div>
        <button
          type="submit"
          form="form-product"
          class="btn btn-primary"
        >Submit</button>
      </form>
      <div id="products-list"></div>
    </div>
    <div id="chat-box" class="col-6">
      <h1>Centro de mensajes</h1>
      <h5>Usuario: {{userEmail}}</h5>
      <div id="message-list">

      </div>
      <form
        id="form-chat"
        data-email="{{userEmail}}"
        data-name="{{userName}}"
        data-lastname="{{userLastname}}"
        data-age="{{userAge}}"
        data-alias="{{userAlias}}"
        data-avatar="{{userAvatar}}"
      >
        <div class="mb-3">
          <label for="inputMsg" class="form-label">Mensaje</label>
          <input
            type="text"
            class="form-control"
            id="inputMsg"
            name="message"
          />
        </div>
        <button
          type="submit"
          form="form-chat"
          class="btn btn-primary"
        >Enviar</button>
      </form>
    </div>
  </div>
</div>